* {
  font-family: monospace;
  font-size: 1rem;
}

body {
  margin: 0px;
  background: rgb(32, 32, 36);
}

button {
  height: 2rem;
  background: darkred;
  border-width: 0.2rem;
  border-color: brown;
}

input {
  height: 2rem;
  background: white;
  border-width: 0.2rem;
  border-color: brown;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.flex-v {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-center-h {
  text-align: center;
}

.title {
  color: red;
  font-size: 10vh;
  font-family: sans-serif;
  text-shadow: 0vh 0vh 1vh red, 0vh 1vh darkred, 0vh 2vh 1vh black;

  margin-bottom: 30vh;
}

.menu {
  min-width: 15rem;
  padding: 3rem 6rem;
  background: darkred;
  border: 1.5rem outset red;
  border-radius: 4rem;
}

form > * {
  width: 100%;
  box-sizing: border-box;
  margin: 0.1rem 0rem;
}

.menu-sep {
  margin-top: 1rem;
}

.player-list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
}

.winner-name {
  display: inline;
  font-weight: bolder;
  text-shadow: 0em 0em 0.5em palegoldenrod;
  color: palegoldenrod;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-padding {
  width: 50vh;
  height: 100vh;
}

.board {
  width: 50vh;
  height: 100vh;
  flex-shrink: 0;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.hud {
  width: 50vh;
  height: 100vh;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
}

@media all and (max-aspect-ratio: 1 / 1) {
  .board, .hud {
    width: 50vw;
    height: 100vw;
  }
}

.block {
  border: 1vmin outset
}

.empty-block {
  background: #777;
  border-color: #999;
}

.malus-block {
  background: grey;
  border-color: grey;
}

.full-block1 {
  background: #921;
  border-color: #B21;
}

.full-block2 {
  background: #D00;
  border-color: #F00;
}

.full-block3 {
  background: #621;
  border-color: #821;
}

.full-block4 {
  background: #D70;
  border-color: #F80;
}

.full-block5 {
  background: #944;
  border-color: #B44;
}

.full-block6 {
  background: #738;
  border-color: #938;
}

.full-block7 {
  background: #D96;
  border-color: #FA6;
}

.game-local-player-info {
  width: 100%;
  height: 25%;

  display: flex;
  flex-direction: column;
}

.game-player-infos {
  width: 100%;
  height: 75%;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.piece-queue {
  width: 100%;
  height: 50%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.piece-queue-board {
  width: 80%;
  height: 80%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.game-player-info {
  margin: 1%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.game-player-info-1 {
  width: 60%;
  height: 100%;
}

.game-player-info-2 {
  width: 48%;
  height: 80%;
}

.game-player-info-3 {
  width: 30%;
  height: 50%;
}

.game-player-info-6 {
  width: 27%;
  height: 45%;
}

.game-player-info-8 {
  width: 21%;
  height: 35%;
}

.game-player-info-15 {
  width: 18%;
  height: 30%;
}

.game-player-info-28 {
  width: 12%;
  height: 20%;
}

.game-player-info-54 {
  width: 9%;
  height: 15%;
}

.game-player-info-108 {
  width: 6%;
  height: 10%;
}

.game-player-name {
  width: 100%;
  height: 20%;

  text-align: center;
  overflow: hidden;
}

.spectrum {
  width: 100%;
  height: 80%;
  background: #777;

  display: flex;
  align-items: flex-end;
}

.spectrum-column {
  width: 10%;
  background: red;
}
