body {
  margin: 0px;
}

.board {
  display: grid;
  margin: auto;
  gap: 0.1vmin;
  width: 50vmin;
  height: 100vmin;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.empty-block {
  background: lightgrey;
  border: 1vmin outset lightgrey;
}

.full-block {
  background: orangered;
  border: 1vmin outset orangered;
}
