body {
  margin: 0px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-padding {
  width: 50vh;
  height: 100vh;
}

.board {
  width: 50vh;
  height: 100vh;
  flex-shrink: 0;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.hud {
  width: 50vh;
  height: 100vh;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
}

@media all and (max-aspect-ratio: 1 / 1) {
  .board, .hud {
    width: 50vw;
    height: 100vw;
  }
}

.empty-block {
  background: lightgrey;
  border: 1vmin outset lightgrey;
}

.malus-block {
  background: grey;
  border: 1vmin outset grey;
}

.full-block {
  background: orangered;
  border: 1vmin outset orangered;
}

.game-local-player-info {
  width: 100%;
  height: 25%;

  display: flex;
  flex-direction: column;
}

.game-player-infos {
  width: 100%;
  height: 75%;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.piece-queue {
  width: 100%;
  height: 50%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.piece-queue-board {
  width: 80%;
  height: 80%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.game-player-info {
  margin: 1%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.game-player-info-1 {
  width: 60%;
  height: 100%;
}

.game-player-info-2 {
  width: 48%;
  height: 80%;
}

.game-player-info-3 {
  width: 30%;
  height: 50%;
}

.game-player-info-6 {
  width: 27%;
  height: 45%;
}

.game-player-info-8 {
  width: 21%;
  height: 35%;
}

.game-player-info-15 {
  width: 18%;
  height: 30%;
}

.game-player-info-28 {
  width: 12%;
  height: 20%;
}

.game-player-info-54 {
  width: 9%;
  height: 15%;
}

.game-player-info-108 {
  width: 6%;
  height: 10%;
}

.game-player-name {
  width: 100%;
  height: 20%;

  text-align: center;
  overflow: hidden;
}

.spectrum {
  width: 100%;
  height: 80%;
  background: lightgrey;

  display: flex;
  align-items: flex-end;
}

.spectrum-column {
  width: 10%;
  background: red;
}
